*{
  margin: 0;
  padding: 0;
  
}

body{
  overflow-x: hidden;
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
/* Menú */
.menu {
  width: 100%;
  height: 100px;
  background: rgb(56, 55, 55);
  list-style: none;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0; /* Ajustado el padding para el espacio interno */
}

.menu li {
  display: inline-block;
  margin-left: 30px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  background-color: rgb(142, 142, 240);
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 10px;
  transition: 0.2s ease;
}

.menu li a.activo {
  background-color: rgb(36, 36, 240);
}

.menu li a:hover {
  opacity: 1;
}
.contenidoreg{
  /* border: 1px solid black;  */
  max-width: 90%;
  margin: auto;
  /* margin-bottom: ; */
}
.formu{
  /* border: 1px solid black; */
  border-top: 2px solid #0a0a0a;
  border-radius: 30px;
  max-width: 400px;
  padding: 30px 50px;
  margin: auto;
  background-color: rgb(78, 78, 80);
  margin-top: 160px;
}
.registra-titulo{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #101010;
  margin: 0;margin-bottom: 20px;
  
}
.form-registro{
  margin-bottom: 30px;
  font-family: sans-serif;
}
.form-registro label{
  display:block;
  margin-top: 10px;
  font-size: 15px;
  color: #0c0c0c;
}
  
.form-registro input{
  width: 100%;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.form-registro input:focus + label{
  font-weight: bold;
    
}

.terminos {
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
  
.terminos a {
  margin-left: 10px;
  text-decoration: none;
  color: #007bff; 
}
  
.terminos a:hover {
  text-decoration: underline;
}
  
.terminos input[type="checkbox"] {
  margin-right: 10px;
}
.boton input{
  background: #6088f7;
  border-radius: 20px;
  color: #000000;
  padding: 10px 50px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-top: 40px;
  border: none;
}
.boton input:hover{
  background: rgb(114, 168, 240);
  transition: 0.5s;
}
/* Estilos para campos válidos e inválidos */
.form-registro input:invalid {
  border-color: rgb(245, 5, 5);
}
  
.form-registro input:valid {
  border-color: rgb(12, 241, 69);
}
  
/* Pseudo-elemento para el icono */
/* .form-registro input:valid + label::after {
  content: '\2714'; /* Icono de checkmark 
  color: green;
  margin-left: 5px;
}
  
.form-registro input:invalid  {
    content: '\2718'; /* Icono de cross 
    color: red;
    margin-left: 5px;
  } */
  
.menu {
  position: absolute;
  top: 2vh;
  right: 2vw; 
  color: #fff;
  padding: 10px;
  text-align: center;
}
ul li{
  display: inline-block;
  justify-content: space-around;
  list-style: none;
  margin-top: 30px;
}
li a{
  display: inline-block;
  font-size: 20px;
  color: rgb(255, 255, 255);  
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  display: inline block;
  opacity: 0.8;
  font-family: Arial, Helvetica, sans-serif;
}
  
ul li a.activo{
  transform: none;
  background-color: aqua;    
      
}
ul li a:hover{
opacity: 1;
}

p{
  font-size: 15px;
  top: 3px;
  
}
footer{
  margin-top: 20px;
  width: 100%;
  height: 134px;
  background: #0c0c0c;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
}
